<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">

        <h1>Counter</h1>
        <h2><%= count%> time(s)</h2>
        <a href="/reset"><input type="button" value="reset"></a>
        <a href="/addtwo"><input type="button" value="add +2"></a>

    </div>
</body>
</html>